{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br>
<h3>Acerca de mí:</h3> <img src="{% static 'Blog/assets/images/fotocarne.png' %}" alt="centered image" width="100" height="140">
<br>
<h5 text-align="right"> Bienvenido a Blogged! Mi nombre es Agustina. Tengo 19 años y soy de Montevideo, Uruguay. Estudio Ingeniería en Producción en la Facultad de Ingeniería. Soy muy curiosa acerca de cómo y porqué funcionan las cosas.</h5> 
<br>
<br>
<h3>Mi futuro en la programación: </h3>
<br>
<h5>Me encanta la tecnología, y apunto a trabajar codo a codo con ella. En un futuro, planeo orientar mi carrera hacia la inteligencia artificial y su efecto en la industria. Pero un paso a la vez: primero me propuse aprender a programar con Python.</h5>
<br>
<br>
<h3>Blogged: ¿qué es?</h3>
<br>
<h5>Como entrega final de este curso de desarollo web, cree un blog con Django Python, al que llamé "Blogged". En él, los usuarios pueden registrarse y crear sus perfiles, y subir posts cortos, clasificados dentro de distintas categorías. Además, el blog tiene un tinte de red social, ya que los usuarios tambien pueden enviar y recibir mensajes. La idea es bastante simple, pero como creadora me enorgullece verlo en funcionamiento, ya que detrás de él hay meses de aprendizaje. 
<br>
<br>
<h4>Nota:</h4>
<h5>Este proyecto fue realizado de manera completamente individual por Agustina Behrens, siguiendo lo aprendido en el curso "Desarollo Web" de Coder House.</h5>


{% endblock content %}