{% extends 'base.html' %}
{% block content %}
<br/><br/><br/><br/>
<h1>Mi información:</h1>
<br/>
<h5>Nombre de usuario: {{ user.username }} </h5>
<h5>Email: {{ user.email }}</h5>
<h5>Nombre: {{ user.first_name }}</h5>
<h5>Apellido: {{ user.last_name }}</h5>
<h5>Avatar:</h5> <img height="80px" class="rounded-circle user_img" src="{{ url }}"> <button> <a class="text-muted small mb-4 mb-lg-0" href= "{% url 'blog:agregaravatar' %}"> Nuevo avatar</a> </button>
<br/>
                <button><a href="{% url 'blog:edit-profile' %}">Editar mi perfil</a> </button>
{% endblock content %}